<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Add this line to the head of your HTML file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/load.js"></script>
</head>

<body>

    <div class="container mt-5">
        <h2 class="mb-4">
            <%= title %>
        </h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody id="userTableBody"></tbody>
        </table>

        <form action="/users/new" method="post" id="formularioa" enctype="multipart/form-data">
            <h5 class="mb-3">Bezero berria gehitu</h5>

            <label for="avatar">Select Image:</label>
            <input type="file" name="avatar" id="avatar" accept="image/*"><br><br>

            <label for="izena">Izena:</label>
            <input type="text" name="izena" id="izena" class="form-control" placeholder="Izena" required />

            <label for="abizena">Abizena:</label>
            <input type="text" name="abizena" id="abizena" class="form-control" placeholder="Abizena" required />

            <label for="email">Emaila:</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Email" required />


            <input type="hidden" name="id" />

            <button type="button" onclick=uploadFormData()>Submit</button>
        </form>

        <script>
            function uploadFormData() {
                const form = document.getElementById('formularioa');
                const formData = new FormData(form);
                console.log("data", formData);
                fetch('/users/new', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'enctype': 'multipart/form-data',
                    },
                })
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                        // Handle the server response as needed
                        window.location.reload(); // Reload the page to see the updated data

                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle errors
                    });
            }

        </script>
</body>

</html>